In [8]:
import pandas as pd

In [16]:
url = 'https://docs.google.com/spreadsheets/d/1ECBD-JE82j-V9TlhjYuf2L4fw6iEdOyjeewDXPYNE_c/pub?gid=0&single=true&output=csv'

In [17]:
df = pd.read_csv(url)

In [18]:
df.head()

,Ville,Opérateur (type),Opérateur (nom),Vélo (type),Offre (type),Offre (nom),Engagement (en mois),Engagement (en jours),Prix au déverrouillage,Prix à la minute,Prix pour 30 minutes,Mensualité,Tarifs spéciaux sous conditions
0,Paris,Public,Velib,Mécanique,Forfait,V-libre,12,NaN,0,NaN,1,0,Oui
1,Paris,Public,Velib,Electrique,Forfait,V-libre,12,NaN,0,NaN,2,0,Oui
2,Paris,Public,Velib,Mécanique,Forfait,V-plus,12,NaN,0,NaN,1,"3,10",Oui
3,Paris,Public,Velib,Electrique,Forfait,V-plus,12,NaN,0,NaN,2,"3,10",Oui
4,Paris,Public,Velib,Mécanique,Forfait,V-max,12,NaN,0,NaN,1,"9,30",Oui